{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="vueapp1" data-to-js="{{list}}" class="row justify-content-center h-100">
    <div class="user-list col-md-7 text-center pt-4">
        <h1 class="px-1 mb-4">{{ user.username }}'s lists:</h1>
            <ul>

                <li v-for="row, i in dataFromBackend[0]" :key="i" class="userslistelement">[[row]]
                    <button @click="delListItem" :data-index="i" class="deleteUserListElement btn btn-danger btn-sm ml-2">X</button>
                </li>

                <!-- {% for element in list %}
                    <li data-js-vars="{{ element }}"  class="userslistelement">
                        {{element}}<button index-of-elem="{{ forloop.counter0 }}" class="deleteListItem btn btn-danger btn-sm ml-2">X</button>
                    </li>
                {% endfor %} -->

            </ul>
            <br>
            <input v-model="listItemsInput" type="text" id="listItemsInput"><small class="newListItemError">[[newListItemError]]</small>
            <button @click="addNewListsItem" class="backBtn btn btn-outline-warning my-3">Add new item</button>
            <br>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="updatedList" id="updated-list-data-to-backend" :value="dataFromBackend[0]">
            <button type="submit" class="backBtn btn btn-outline-warning">Save list</button>
        </form>
        <a href="{% url 'shoppinglist' %}" class="backBtn btn btn-outline-warning">Back</a>
    </div>
</div>

<script src="{% static 'viewlistitems.js' %}"></script>

{% endblock %}